* {
    margin:0; padding:0;
  }
  
  h1 { 
    width:100%; text-align:center;
  }
  
  .cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
  }
  
  .cell canvas {
      vertical-align: middle;
  }
  
  .canthumb {
      border: 0px solid #222;
  }
  #main { 
      margin:0 auto;
    width:600px;
  }
  
  #maincanvas {
      border: 0px solid #222;
      cursor: pointer;
    margin:0 auto;
  }